* {
   margin: 0;
   padding: 0;
}

:root {
   --color_red:#8D3C45;
   --color_blue: #1E355E;
}

@font-face {
   font-family: "Montserrat-Regular";
   src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}


@font-face {
   font-family: "Montserrat-Bold";
   src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
   font-family: "Montserrat-SemiBold";
   src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}


h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
label,
select,
option,
button {
   font-family: "Montserrat-Regular";
}

h1 {
   font-family: "Montserrat-SemiBold";
}

.btn {
   border-radius: 0;
}

.borde{
   border:  4px solid var(---color_blue);
   
}



@keyframes animloader {
   0% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   12% {
      box-shadow: 0 48px white, 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   25% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   37% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px white, 0px 96px rgba(255, 255, 255, 0);
   }

   50% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px white, 0px 96px white;
   }

   62% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px white, 48px 96px white, 0px 96px white;
   }

   75% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px white, 0px 96px white;
   }

   87% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px white;
   }

   100% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }
}

@keyframes animloader2 {
   0% {
      transform: translate(0, 0) rotateX(0) rotateY(0);
   }

   25% {
      transform: translate(100%, 0) rotateX(0) rotateY(180deg);
   }

   50% {
      transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
   }

   75% {
      transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
   }

   100% {
      transform: translate(0, 0) rotateX(0) rotateY(360deg);
   }
}


/* Sección de responsividad */
@media (max-width: 768px) {
   .btn-aside-menu {
      display: block;
   }

   aside {
      z-index: 1;
      width: 100% !important;
      padding: 0 !important;
      display: none !important;
      position: fixed;
      z-index: 1;
   }

   .mnh-100 {
      min-height: auto;
   }

   .mnw-103 {
      min-width: 103%;
   }

   .row-max-width-responsive {
      max-width: 103%;
   }

   .w-img-logo {
      width: 54px;
   }

   .loader {
      top: 43%;
      left: 43%;
   }
}

@media (max-width: 425px) {
   .loader {
      top: 43%;
      left: 37%;
   }
}

@media (max-width: 375px) {
   .loader {
      top: 43%;
      left: 32%;
   }
}