* {
   margin: 0;
   padding: 0;
}

:root {
   --color_red:#8D3C45;
   --color_blue: #1E355E;
}

/* 
 @font-face {
   font-family: "Novecentowide-Normal";
   src: url("../fonts/Novecento/Novecentowide-Normal.otf") format("opentype");
}

@font-face {
   font-family: "Novecentowide-Medium";
   src: url("../fonts/Novecento/Novecentowide-Medium.otf") format("opentype");
}

@font-face {
   font-family: "Novecentowide-DemiBold";
   src: url("../fonts/Novecento/Novecentowide-DemiBold.otf") format("opentype");
}

@font-face {
   font-family: "Novecentowide-Bold";
   src: url("../fonts/Novecento/Novecentowide-Bold.otf") format("opentype");
} */

@font-face {
   font-family: "MuseoSans-100";
   src: url("../fonts/MuseoSans/MuseoSans-100.otf") format("opentype");
}

@font-face {
   font-family: "MuseoSans-300";
   src: url("../fonts/MuseoSans/MuseoSans-300.otf") format("opentype");
}


body, p, span, li,  label, input, textarea {
    font-family: 'MuseoSans-300', sans-serif;
    font-weight: normal;
}

h1, h2, h3, .titulo-principal {
    font-family: 'Novecentowide-Bold', sans-serif;
    /* font-weight: normal;  */
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #8D3C45;
}


h4, h5, h6, a, .subtitulo {
    font-family: 'Novecentowide-Normal', sans-serif;
    /* font-weight: normal; */
    font-weight: 900;
    color: #1E355E; 
    font-size:  1rem; 
    letter-spacing: 0.5px; 
    
}



/* --- ESTILOS DE COLOR PARA EL MENÚ DE NAVEGACIÓN --- */

/* Color azul marino por defecto para todo el menú */
.navbar-nav .nav-link {
    color: #1E355E !important;
    transition: color 0.3s ease;
}

/* Color rojo para el que tenga la clase active */
.navbar-nav .nav-link.active {
    color: #8D3C45 !important;
    font-weight: bold;
}


.menu-hamburguesa {
   display: none;
   cursor: pointer;
}


@media (max-width: 768px) {
  
   .nav-links {
      display: none;
   }
   
   .menu-hamburguesa {
      display: block; 
   }

   
   footer .logo-diestro,
   footer .enlaces-footer,
   footer .texto-copyright {
      display: none !important;
   } 

   footer .toro-blanco {
      display: block !important;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
   }
}

/* Se activa únicamente en pantallas más grandes que el contenedor (como pantallas 4K) */
@media (min-width: 1441px) {
    .text-md-start {
       
        padding-left: calc((100vw - 1440px) / 2 + 3rem) !important;
        padding-right: calc((100vw - 1440px) / 2 + 3rem) !important;
    }
}


@media (min-width: 2500px) {
    .hero-image-section-partners img {
        
        max-height: 550px !important; 
        
        
        object-position: center 15% !important; 
    }
}


@media (min-width: 2500px) {
    .banner-fortaleza {
        
        max-height: 600px !important;
    }

    .banner-fortaleza img {
        height: 600px !important;
        
        object-position: center 25% !important;
    }
}



@keyframes animloader {
   0% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   12% {
      box-shadow: 0 48px white, 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   25% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   37% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px white, 0px 96px rgba(255, 255, 255, 0);
   }

   50% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px white, 0px 96px white;
   }

   62% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px white, 48px 96px white, 0px 96px white;
   }

   75% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px white, 0px 96px white;
   }

   87% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px white;
   }

   100% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }
}

@keyframes animloader2 {
   0% {
      transform: translate(0, 0) rotateX(0) rotateY(0);
   }

   25% {
      transform: translate(100%, 0) rotateX(0) rotateY(180deg);
   }

   50% {
      transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
   }

   75% {
      transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
   }

   100% {
      transform: translate(0, 0) rotateX(0) rotateY(360deg);
   }
}


/* Sección de responsividad */
@media (max-width: 768px) {
   .btn-aside-menu {
      display: block;
   }

   aside {
      z-index: 1;
      width: 100% !important;
      padding: 0 !important;
      display: none !important;
      position: fixed;
      z-index: 1;
   }

   .mnh-100 {
      min-height: auto;
   }

   .mnw-103 {
      min-width: 103%;
   }

   .row-max-width-responsive {
      max-width: 103%;
   }

   .w-img-logo {
      width: 54px;
   }

   .loader {
      top: 43%;
      left: 43%;
   }
}

@media (max-width: 425px) {
   .loader {
      top: 43%;
      left: 37%;
   }
}

@media (max-width: 375px) {
   .loader {
      top: 43%;
      left: 32%;
   }
}