* {
   margin: 0;
   padding: 0;
}

:root {
   --color_white: #fff;
   --color_light_white: #eff6f8;
   --color_dark: #000;
   --color_dark_blue: #385e6f;
   --color_darker_blue: #2c4a5b;
   --color_light_blue: #67acc6;
   --color_secondary_subtle: #d8d8d9;
   --color_bi_color_blue: #BFDAE4;
   --color_light_gray: #c2bebe;
   --color_light_gray_subtle: #f0f0f0;
   --color_lighter_blue: #eff6f8;
}

@font-face {
   font-family: "Montserrat-Regular";
   src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}


@font-face {
   font-family: "Montserrat-Bold";
   src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
   font-family: "Montserrat-SemiBold";
   src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}


h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
label,
select,
option,
button {
   font-family: "Montserrat-Regular";
}

h1 {
   font-family: "Montserrat-SemiBold";
}

.btn {
   border-radius: 0;
}

/*Buttons*/
.btn-primary {
   --bs-btn-color: #fff;
   --bs-btn-bg: #385E70;
   --bs-btn-border-color: #385E70;
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #304e5c;
   --bs-btn-hover-border-color: #304e5c;
   --bs-btn-focus-shadow-rgb: 130, 138, 145;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #304e5c;
   --bs-btn-active-border-color: #304e5c;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color: #fff;
   --bs-btn-disabled-bg: #304e5c;
   --bs-btn-disabled-border-color: #385E70;
   --bs-btn-disabled-opacity: 0.7;
}

.w-10 {
   width: 10%;
}

.w-15 {
   width: 15%;
}

.w-20 {
   width: 20%;
}

.w-25 {
   width: 25%;
}

.w-30 {
   width: 30%;
}

.w-40 {
   width: 40%;
}

.w-70 {
   width: 70%;
}

.w-75 {
   width: 75%;
}

.w-80 {
   width: 80%;
}

.w-85 {
   width: 85%;
}

.w-90 {
   width: 90%;
}

.w-img-logo {
   width: 69px;
}

.ml-15p {
    margin-left: 15% !important;
}

.mxw-100 {
   max-width: 100%;
}

.mnh-100 {
   min-height: 100vh;
}

.mxh-100 {
   max-height: 100%;
}

.p-10px {
   padding: 10px !important;
}

.bg-bi-color-blue {
   background: linear-gradient(180deg, rgba(56, 94, 111, 1) 0%, rgba(56, 94, 111, 1) 52%, rgba(39, 64, 77, 1) 50%, rgba(39, 64, 77, 1) 53%, rgba(225, 239, 244, 1) 53%, rgba(225, 239, 244, 1) 100%);
}

.bg-dark-blue {
   background: var(--color_dark_blue);
   color: var(--color_white);
}

.bg-light-white {
   background: var(--color_light_white);
   color: var(--color_dark);
}

.bg-light-gray-subtle {
   background: var(--color_light_gray_subtle);
   color: var(--color_dark);
}

.bg-lighter-blue {
   background: var(--color_lighter_blue);
   color: var(--color_dark);
}

.text-dark-blue {
   color: var(--color_dark_blue);
}

.group-floating {
   position: relative;
}

.group-floating .f-label {
   position: absolute;
   top: 50%;
   left: 10px;
   background: var(--color_white);
   padding: 0 5px;
   transform: translateY(-50%);
   transition: all 0.2s ease;
   pointer-events: none;
}

.group-floating .f-input:focus+.f-label,
.group-floating .f-input:not(:placeholder-shown)+.f-label {
   top: 0;
   left: 10px;
   font-size: 12px;
   background: var(--color_white);
   border-radius: 4px;
   padding: 0 5px;
}

.btn-dark-blue {
   background-color: var(--color_dark_blue);
   color: var(--color_white);
   border: none;
}

.btn-dark-blue:hover,
.btn-dark-blue:focus,
.btn-dark-blue:active {
   background-color: var(--color_darker_blue) !important;
   color: var(--color_white) !important;
}

.title-section {
   color: #385e70;
}

.fs-6 {
   font-size: 1rem !important;
}

.fs-7 {
   font-size: 0.75rem !important;
}

.pointer {
   cursor: pointer;
}

.border-dark-blue {
   border: 2px solid var(--color_dark_blue)
}

.cancel-btn-modal {
   position: absolute;
   top: -33px;
   right: -41px;
}

button {
   cursor: pointer;
   background-color: #385e70;
   color: #fff;
   border: none;
   padding: 10px;
}

select {
   padding: 10px;
   border: 1px solid #385e70;
   border-radius: 4px;
}

/*btn previous next*/
.prev {
   text-decoration: none;
   color: #385e70;
   cursor: pointer;
}

.next {
   text-decoration: none;
   color: #385e70;
   cursor: pointer;
}

.tab-list .tab {
   color: var(--color_dark);
   cursor: pointer;
   font-weight: bold;
   transition: all 0.3s ease;
}

.tab-list .tab.active,
.tab-list .tab:hover {
   color: var(--color_dark_blue);
   border-bottom: 1px solid var(--color_dark_blue);
}

/* Menú lateral (aside) */
.btn-aside-menu {
   display: none;
   position: fixed;
   top: 10px;
   left: 10px;
   z-index: 1000;
   width: 9%;
   background: var(--color_white);
   color: var(--color_dark);
}

.splitter {
   border-top: 15px solid var(--color_darker_blue);
}

.splitter-bottom-secondary-subtle {
   border-bottom: 3px solid var(--color_secondary_subtle);
}

aside .nav-link {
   border-bottom: 5px solid var(--color_darker_blue);
}

aside .nav-link:hover,
aside .nav-link.active {
   background: var(--color_light_blue);
}

/* Loader */
.loader-bg {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2000;
}

.loader {
   width: 48px;
   height: 48px;
   display: inline-block;
   position: relative;
   transform: rotate(45deg);
}

.loader::before {
   content: '';
   box-sizing: border-box;
   width: 48px;
   height: 48px;
   position: absolute;
   left: 0;
   top: -48px;
   animation: animloader 4s ease infinite;
}

.loader::after {
   content: '';
   box-sizing: border-box;
   position: absolute;
   left: 0;
   top: 0;
   width: 48px;
   height: 48px;
   background: rgba(255, 255, 255, 0.85);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
   animation: animloader2 2s ease infinite;
}

.border-bottom {
   border-bottom: 1px solid var(--color_dark_blue) !important;
}

.sticky-bar {
   position: sticky;
   top: 1rem;
   transition: background-color 0.5s ease-out 0.1s;
}

@keyframes animloader {
   0% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   12% {
      box-shadow: 0 48px white, 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   25% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }

   37% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px white, 0px 96px rgba(255, 255, 255, 0);
   }

   50% {
      box-shadow: 0 48px white, 48px 48px white, 48px 96px white, 0px 96px white;
   }

   62% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px white, 48px 96px white, 0px 96px white;
   }

   75% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px white, 0px 96px white;
   }

   87% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px white;
   }

   100% {
      box-shadow: 0 48px rgba(255, 255, 255, 0), 48px 48px rgba(255, 255, 255, 0), 48px 96px rgba(255, 255, 255, 0), 0px 96px rgba(255, 255, 255, 0);
   }
}

@keyframes animloader2 {
   0% {
      transform: translate(0, 0) rotateX(0) rotateY(0);
   }

   25% {
      transform: translate(100%, 0) rotateX(0) rotateY(180deg);
   }

   50% {
      transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
   }

   75% {
      transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
   }

   100% {
      transform: translate(0, 0) rotateX(0) rotateY(360deg);
   }
}


/* Sección de responsividad */
@media (max-width: 768px) {
   .btn-aside-menu {
      display: block;
   }

   aside {
      z-index: 1;
      width: 100% !important;
      padding: 0 !important;
      display: none !important;
      position: fixed;
      z-index: 1;
   }

   .mnh-100 {
      min-height: auto;
   }

   .mnw-103 {
      min-width: 103%;
   }

   .row-max-width-responsive {
      max-width: 103%;
   }

   .w-img-logo {
      width: 54px;
   }

   .loader {
      top: 43%;
      left: 43%;
   }
}

@media (max-width: 425px) {
   .loader {
      top: 43%;
      left: 37%;
   }
}

@media (max-width: 375px) {
   .loader {
      top: 43%;
      left: 32%;
   }
}